.clothing-menu-item {
  min-height: 30%;
  height: 300px;
  margin: 0 7.6px 15px;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & :hover {
    cursor: pointer;
    &.background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    &.content {
      opacity: 0.9;
    }
  }
  .background-image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
  }
}
